@import url("https://fonts.googleapis.com/css?family=Inria+Serif|Playfair+Display|Quicksand|Roboto+Slab|Ubuntu&display=swap");

div {
  margin-top: 4em;
}

.fonts-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4em;
  margin-top: 0;

  p {
    font-size: 24px;
  }

  .grid-item {
    margin-top: 0.5em;

    p {
      padding: 0.7em 1em;
    }
  }

  .underline {
    text-decoration: underline #006eff;
  }

  .roboto-slab > p {
    font-family: "Roboto Slab", serif;
  }

  .ubuntu > p {
    font-family: "Ubuntu", sans-serif;
  }

  .playfair-display > p {
    font-family: "Playfair Display", serif;
  }

  .quicksand > p {
    font-family: "Quicksand", sans-serif;
  }

  .inria-serif > p {
    font-family: "Inria Serif", serif;
  }
}
