div {
  margin-top: 2em;

  input {
    width: 15%;
    min-width: 200px;
    padding: 0.5em;
    border: none;
    border-bottom: 1px solid #a3a3a3;

    &:focus {
      border-bottom: 1px solid #006eff;
      outline: none;
    }
  }
}
